.first {
	display: grid;
	align-items: center;

	margin-top: 20px;

	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	grid-template-columns: 24px 1fr;
	gap: 20px;
}

.firstActive,
.first:hover {
	color: var(--primary);
}

.firstActive svg,
.first:hover svg {
	fill: var(--primary);
}

.second {
	margin-bottom: 10px;

	cursor: pointer;
	text-transform: uppercase;

	color: var(--gray-dark);

	font-size: 14px;

	font-weight: 600;
	line-height: 19px;
}

.secondWrapper {
	margin-top: 15px;
	margin-left: 12px;
	padding-left: 32px !important;

	border-left: 1px solid #DFDFDF;
}

.secondBlock {
	overflow: hidden;
}

.third {
	display: block;

	margin-bottom: 10px;

	cursor: pointer;

	color: var(--gray-dark);
	outline-offset: -1px;

	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}

.thirdActive,
.third:hover {
	color: var(--primary);
}
